# ---------------------------------------------------------
# GHOSTTY CONFIGURATION
# ---------------------------------------------------------

command = /bin/zsh --login

# --- Visuals ---
theme = Catppuccin Mocha
font-family = "JetBrainsMono Nerd Font"
font-size = 13

# --- Window Style ---
title = "Ghostty"
background-opacity = 0.95
background-blur-radius = 20

# --- Interaction ---
copy-on-select = clipboard
confirm-close-surface = false
mouse-hide-while-typing = true

# --- Secret Sauce ---
shell-integration = zsh
